.groupCard {
  background: #fff;
  border: 0.0625rem solid rgba(0, 0, 0, 0.05);
  display: flex;
  height: 190px;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
  margin: 20px 20px 40px 20px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .groupCard {
    display: flex;
    overflow-x: scroll;
  }

  .groupCard img {
    width: 200px;
    margin: 10px;
  }
}
