.DealAdvertGif {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.DealAdvertGif img {
  width: 205px;
  border-radius: 5px;
  height: 193px;
}

@media (max-width: 768px) {
  .DealAdvertGif img {
    height: 100% !important;
    width: 95% !important;
  }
}
