.RecommendedProducts {
  background: white;
  margin: 20px;
  border: 0.0625rem solid rgba(0, 0, 0, 0.05);
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
  padding:5px;
}

.header{
    display: flex;
}

.LatestDeals hr{
    background: gray;
}

.dealcards{
    display: grid;
    grid-template-columns: repeat(3,1fr);    
}


@media(max-width:768px){
  .dealcards{
    display: flex;
    overflow-x:scroll;
  }
}