.Banner {
  margin: 20px;
}

.Paper {
  display: flex;
  justify-content: space-between;
}

.Paper div {
  padding: 5px;
}

@media (max-width: 768px) {
  .ProductBanner {
    display: none;
  }

  .Paper {
    flex-direction: column;
  }
  .Paper img {
    margin: 5px 3px;
  }
}
